Debug/engine.dll
*.exp
*.ilk
*.pdb
*.opensdf
*.sdf
*.grp
game/bin/x64/engine.dll
game/bin/x86/engine.dll
Release/engine.dll
Release/engine.lib
*.obj
*.log
*.tlog
*.idb
*.user
src/game/Debug/Game.res
*.aps
src/game/Release/Game.res
src/game/x64/Debug/Game.res
src/game/x64/Release/Game.res
src/lib/public/x64/engine.lib
src/lib/public/x64/helperlib.lib
src/lib/public/x86/engine.lib
x64/Debug/engine.dll
x64/Debug/engine.lib
x64/Release/engine.dll
x64/Release/engine.lib
x64/Release/helperlib.lib
Debug/engine.lib
*.suo
Debug/helperlib.lib
x64/Debug/helperlib.lib
src/lib/public/x86/helperlib.lib
Duke3DEngine.VC.db
Duke3DEngine.VC.VC.opendb
build/x64/Debug/engine.dll
build/x64/Debug/engine.lib
build/x64/Debug/helperlib.lib
Duke3DEngine.sln
src/engine/Engine.vcxproj
src/game/Game.vcxproj
src/game/Game.vcxproj.filters
src/game/obj/Win64/Debug/Game.res
src/helperlib/helperlib.vcxproj
src/helperlib/helperlib.vcxproj.filters
src/masterserver/MasterServer.vcxproj
build/x64/Release/engine.dll
build/x64/Release/engine.lib
build/x64/Release/helperlib.lib
src/game/obj/Win64/Release/Game.res
build/x86/Release/engine.dll
build/x86/Release/engine.lib
build/x86/Release/helperlib.lib
src/game/obj/Win32/Release/Game.res
build/x86/Debug/engine.dll
build/x86/Debug/engine.lib
build/x86/Debug/helperlib.lib
src/game/obj/Win32/Debug/Game.res
build/x64/Debug/Game.exe
build/x64/Debug/MasterServer.exe
build/x64/Release/Game.exe
build/x64/Release/MasterServer.exe
build/x86/Debug/Game.exe
build/x86/Debug/MasterServer.exe
build/x86/Release/Game.exe
build/x86/Release/MasterServer.exe
game/bin/x64/Game.exe
game/bin/x86/Game.exe